header h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    background: url(../Images/pexels-adi-perets-4125993.jpg);
    background-position: center;
    background-size: cover;
}

/***** CSS Utility Classes *****/
.text-salmon {
    color: salmon;
}

.btn-salmon {
    background: salmon;
    transition: all 0.5s;
}

.text-justify {
    text-align: justify;
}

.link {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.link:hover {
    color: #eee;
}

.gradient {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    margin: 20px;
}

/***** End CSS Utilities *****/